<div class="section1">
	
	<div class="container">
		<ngb-alert class = "info" [dismissible]="true" type="info" (ready)="start()" (click)="blindAlert.close()" *ngIf="blindAlert.visible">{{blindAlert.message}}</ngb-alert>
		<div class="ovInfo">
			<img class="ovLogo" alt="OpenVidu Logo" src="assets/images/openvidu_logo.png" style="padding: 20px"/>
			<h4 style="color:rgb(94, 94, 170)">회의 아이디를 간편하게 입력해주세요</h4>
		</div>
		<div class="formContainer" >
			<div class="roomError" id="requiredNameError" *ngIf="roomForm.hasError('required')">
				Room name is <strong>required</strong>
			</div>
			<div class="roomError" id="shortNameError" *ngIf="roomForm.hasError('minlength')">
				Room name is <strong>too short!</strong>
			</div>
			<form [formGroup]="roomForm" novalidate (ngSubmit)="goToVideoCall()">
				<div class="joinForm">
					<input matInput class="inputForm" type="text" [formControl]="roomForm"  autocomplete="off" id="roomInput" />
					<button type="submit" class="joinButton" id="joinButton" >JOIN</button>
				</div>
			</form>
		</div>
	</div>

	<mat-toolbar class="footer">
		
		
	</mat-toolbar>
</div>
